p {
    font-size: 22px;
    margin-top: 22px;
    margin-left: 40px;
    margin-right: 40px;
}

h1 {
    font-size: 44px;
    color: darkcyan;
}

h2 {
    font-size: 33px;
    font-weight: 700;
}

* {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

strong {
    color: lightskyblue;
}

nav {
    background-color: rgb(200, 200, 200);
    padding: 22px;
}

body {
    background-color: rgb(30, 30, 30);
}

.logo {
    margin: 40px;
    border-radius: 50%;
    border: 9px solid grey;
}

.banner {
    width: 50%;
}

#bbox {
    width: 100%;
    padding: 0;
    background-color: #545454;
    border-bottom: 4px rgb(200, 200, 200) dashed;
}

.banner,
#bbox {
    height: 28.125%;
}

ul {
    font-size: 22px;
}